
@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>
@Html.ActionLink("Activity", "Activity")
<br />
@Html.ActionLink("Air", "Air")
<br />
@Html.ActionLink("Car", "Car")
<br />
@Html.ActionLink("Hotel", "Hotel")

