
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" type="text/css" href="~/Views/css/styles.css" />
<h2>Index</h2>
@Html.ActionLink("Admin", "Admin", null,new { @class = "link" })
<br />
@Html.ActionLink("User", "User", null,new { @class = "link"})
