
@{
    ViewBag.Title = "User";
}

<h2>User</h2>

@Html.ActionLink("Activity", "Activity")
<br />
@Html.ActionLink("Air", "Air")
<br />
@Html.ActionLink("Car", "Car")
<br />
@Html.ActionLink("Hotel", "Hotel")